
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    background-color: #f8f9fa;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: homeEffect;
    animation-duration: 2s;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    height: 90vh;
    width: 90%;
}

.icons {
    padding: 1em;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.iconEmailAndPassword {
    padding-right: 10px;
}
.iconBtt {
    padding-left: 10px;
    cursor: pointer;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputField {



    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    width: 250px;
    border: 2px solid black;
}

.button, .bttSignUp {
    background-color: #0d6efd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    margin-bottom: 2em;
   
}

.signUpDesktop {
    display: none;
}

.text {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
}

.description {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

@keyframes homeEffect {
    from {transform: translate(-150px); color: #001F54}
  }


@media only screen and (min-width: 600px) {
    .icons {
        width: 60%;
    }

    .inputField {
        width: 300px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85vh;
        width: 40%;
        border-radius: 10px 0 0 10px;
        border: 1px solid black;
    }

    .signUpDesktop {
        width: 55%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0d6efd;
        border-radius: 0 10px 10px 0;
        color: white;
    }

    .linkBtt {
        display: none;
    }

    @media only screen and (min-width: 2560px) {
       
        .container {
            width: 80%;
            margin: 0 auto;
        }

        .formContainer {
            height: 80vh;
            width: 35%;
        }

        .signUpDesktop {
            width: 45%;
            height: 80vh;
        }

        .text {
            font-size: 60px;
        }

        .inputField {
            width: 400px;
            font-size: 20px;
        }

        .icons {
            width: 50%;
        }

        .description {
            font-size: 30px;
        }


    }
}