* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; 
    height: 100vh;
    overflow-x: auto; 
    text-align: center;
    background-color: #3aa7b1;
    padding-top: 20px;
}

.productTable {
    width: 100%;
    min-width: 600px; 
    border-collapse: collapse;
    border: 5px solid black;
    background-color: white;
}

.productTable th, .productTable td {
  padding: 12px 15px;
  border: 1px solid #333;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 40px;
    }

    .productTable {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        padding: 60px;
    }

    .productTable {
        width: 70%;
    }
}

@media only screen and (min-width: 2560px) {
    .container {
        padding: 80px;
        font-size: 30px;
    }

    .removeBtt {
        font-size: 25px;
    }

    .productTable {
        width: 60%;
    }
}